.flex {
  display: flex;
}

.elevators-wrapper {
  position: relative;
  width: 15%;
  border-left: 3px solid rgba(0, 0, 0, 0.87);
  border-right: 3px solid rgba(0, 0, 0, 0.87);
  margin-right: 5%;
}

.floors-wrapper {
  flex: auto;
}
