<div class="container">
  <div class="row" style="margin-top: 100px">
    <div class="col s12">
      <h1 class="mat-display-4" style="text-align: center">{{ h1 }}</h1>
    </div>
  </div>
  <div class="row" style="margin-top: 70px">
    <div class="col s9">
      <div class="row">
        <div class="col s10">
          <app-processor></app-processor>
        </div>
      </div>
      <div class="row">
        <div class="col s10 flex">
          <div class="elevators-wrapper">
            <app-elevator *ngFor="let elevator of elevators"></app-elevator>
          </div>
          <div class="floors-wrapper">
            <app-floor *ngFor="let floor of floors" [number]="floor.title"></app-floor>
          </div>
        </div>
      </div>
    </div>
    <div class="col s3">
      <app-settings></app-settings>
      <br><br>
      <mat-divider [inset]="true"></mat-divider>
      <br>
      <app-rules></app-rules>
    </div>
  </div>
</div>
