/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "../node_modules/materialize-css/sass/components/color-variables";
@import "../node_modules/materialize-css/sass/components/variables";
@import "../node_modules/materialize-css/sass/components/grid";

.container {
  max-width: 700px;
}

mat-list {
  .mat {
    &-display-1 {
      margin-bottom: 16px;
    }
  }
}

mat-form-field {
  mat-icon[matPrefix] {
    margin-right: .5em;
  }
}
