<mat-list [formGroup]="configuration">
  <h3 class="mat-display-1" style="margin-bottom: 25px;">Параметры</h3>
  <mat-list-item *ngFor="let field of fields" style="margin-bottom: 1em">
    <mat-form-field>
      <mat-select [placeholder]="field.title" [formControlName]="field.name">
        <mat-option [value]="opt" *ngFor="let opt of field.options">{{ opt }}</mat-option>
      </mat-select>
      <mat-icon matPrefix *ngIf="field.name === 'elevators'">view_carousel</mat-icon>
      <mat-icon matPrefix *ngIf="field.name === 'floors'">view_agenda</mat-icon>
    </mat-form-field>
  </mat-list-item>
  <mat-list-item>
    <button mat-raised-button color="accent" (click)="addPassenger()">
      <mat-icon style="font-size: 16px;line-height: 24px;">add</mat-icon>
      <mat-icon aria-label="add new passenger">face</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
